{% extends "base_template.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/my_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
{% endblock %}

{% block content%}

  <form style="border:1px solid #ccc" method="post">
    <div class="container">
      <h1 >Change Password</h1>
      <p>Please enter the following details to change your password</p>
      <hr>

      <label><b>Current Password:</b></label>
      <input type="password" placeholder="Enter the current password" name="old_pw" required>

      <label><b>New Password:</b></label>
      <input type="password" placeholder="Enter the new password" name="new_pw_1" required>

    <label><b>Confirm New Password:</b></label>
    <input type="password" placeholder="Confirm the new password" name="new_pw_2" required>


      <div class="clearfix">
        <a href="/dashboard"><button type="button" class="cancelbtn">Cancel</button></a>
        <button type="submit" class="signupbtn">Change password</button>
      </div>
    </div>
  </form>
<!-- To have a gap between the footer and the body-->
<div class="container"></div>
{% endblock %}